
<footer class="bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="bottom__miniTitle">
                    <h2>Quick Links</h2>
                </div>
                <div class="row">
                   <div class="col-lg-12 col-12">
                    <ul class="bottom__list">
                        <li class="bottom__item"><a href="#" class="bottom__link">Press Room</a></li>
                        <li class="bottom__item"><a href="#" class="bottom__link">Moblie App</a></li>
                        <li class="bottom__item"><a href="#" class="bottom__link">Corporate</a></li>
                    </ul>
                   </div>
                     
                    
                </div>
                <div class="row">
                    <div class="col-lg-12 col-12">
                        <ul class="bottom__list">
                            <li class="bottom__item"><a href="#" class="bottom__link">About Us</a></li>
                            <li class="bottom__item"><a href="#" class="bottom__link">Franchising</a></li>
                            <li class="bottom__item"><a href="#" class="bottom__link">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="bottom__content">
                    <img src="/images/dunkin_navbarlogo-removebg-preview.png" alt="footerlog">
                   <br>
                   <br>
                   <br>
                 <form method="POST" action="/" class="contact-form">
                        <div class="row">
                            <div class="col-lg-12 col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" name="fullName" placeholder="Enter Full Name" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-12">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email address" required>
                                </div>
                            </div>
                        </div>
                        <div class="bottom__button">
                            <button type="submit" class="bottom__london">Send</button>
                        </div>
                 </form>
                </div>
               
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="bottom__followUs">
                <h2>Follow Us</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
           
                <ul class="bottom__socialList">
                    <li class="bottom__socialItem"><a href="#" class="bottom__socialLink">
                        <svg class="bottom__icon">
                            <use xlink:href="images/symbol-defs.svg#icon-twitter"></use>
                        </svg>
                    </a></li>
                    <li class="bottom__socialItem"><a href="" class="bottom__socialLink">
                        <svg class="bottom__icon">
                            <use xlink:href="images/symbol-defs.svg#icon-facebook"></use>
                        </svg>
                    </a></li>
                    <li class="bottom__socialItem"><a href="" class="bottom__socialLink">
                        <svg class="bottom__icon">
                            <use xlink:href="images/symbol-defs.svg#icon-pinterest"></use>
                        </svg>
                    </a></li>
                    <li class="bottom__socialItem"><a href="" class="bottom__socialLink">
                        <svg class="bottom__icon">
                            <use xlink:href="images/symbol-defs.svg#icon-instagram"></use>
                        </svg>
                    </a></li>
                    <li class="bottom__socialItem"><a href="" class="bottom__socialLink">
                        <svg class="bottom__icon">
                            <use xlink:href="images/symbol-defs.svg#icon-youtube"></use>
                        </svg>
                    </a></li>
                </ul>
        </div>
        <div class="bottom__copy text-center">
            <p>&copy;2020 DD IP Holder LLC</p>
        </div>
    </div>
</footer>

</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/yum.js"></script>
</html>