<%- include('partials/failureHeader') %>
<section class="congrats">
    <div class="container">
        <div class="congrats2__content text-center">
           <h2>This page has failed to collect your information please try again</h2>

           <div class="congrats2__button">
            <a href="/" class="congrats2__try" role="button">Try again</a>
           </div>
          <div class="row">
              <div class="col-lg-12 col-12">
                  <img src="/images/failurebg.jpg" alt="successfully">
              </div>
          </div>
        </div>
    </div>
</section>
<%- include('partials/footer') %>