<%- include('partials/homeHeader') %>

<!--<div id="jumo" class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Fluid jumbotron</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
  </div>-->
<section class="bring">
    <div class="container-fluid px-0">

    </div>
</section>
<section class="plus">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12">
            <div class="plus__content text-center">
                <img src="/images/earn_on_the_every_run_icon-removebg-preview.png" alt="every">
                <h3>Earn On Every Run</h3>
                <p>
                    $1 = 5 points. Every 200 points earns <br> you a free beverage. PLus, get <br> exclusive bonus-point offers.
                </p>
            </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="plus__content text-center">
                    <img src="/images/coffee-icon-removebg-preview.png" alt="pay">
                    <h3>Pay Any Way</h3>
                    <p>
                        Pay with a debit/credit card, cash or <br> an enrolled DD Card to unlock <br> rewards and offers
                    </p>
                </div>
                </div>

                <div class="col-lg-4 col-12">
                    <div class="plus__content text-center">
                        <img src="/images/check_out_faster_icon-removebg-preview.png" alt="fast">
                        <h3>Check Out Fast</h3>
                        <p>
                            Whether you're stopping in or <br> ordering ahead, load funds to your <br> account to save time on your run
                        </p>
                    </div>
                    </div>
        </div>
        <div class="plus__button text-center">
            <a href="#" class="plus__sign" role="button">Sign up</a>
            <a href="#" class="plus__learn" role="button">Learn More</a>
        </div>
    </div>
</section>
<section class="fresh">
    <div class="contianer">

        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="fresh__content text-center">
                    <h2>SomeThing Fresh <br> Is Always Brewin' Here</h2>
                    <br>
                    <a href="#" class="fresh__view" role="button">View Menu</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="eat">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12">
                <div class="eat__content text-center">
                    <h3 class="mom">Shipping Believing</h3>
                     <h2>Handcrafted Espresso Drinks  </h2>
                     <img src="/images/Handcrafed espresso drinks.png" alt="handcrafed">
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="eat__content text-center">
                    <h3 class="mom">Freshly made</h3>
                     <h2>All-Day Breakfast <br> Sandwiches</h2>
                     <img src="/images/all Day breakfast.png" alt="days">
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="eat__content text-center">
                    <h3 class="mom">Dunkin' Classic</h3>
                     <h2>Hot Coffee</h2>
                     <img src="/images/hot coffee.png" alt="coffee">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hero">
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="hero__content text-center">
                    <h2><span class="orange">Give Your Hero</span> <br>
                        <span class="pink">A coffee Break</span>
                    </h2>
                    <p>
                       We will donate $1 to the <strong>Dunkin' Joy in Childhood <br> Foundation's</strong> 
                       COVID-19 relief fund for every e-gift card <br> purchased at DunkinCoffeeBreaking.com, up tp $100K.
                       
                    </p>
                      <div class="hero__button">
                        <a href="#" class="hero__egift" role="button">Send An E-Gift Card</a>
                      </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="hero__content">
                   <img src="/images/herobg.jpg" alt="coffe">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hero">
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="hero__content">
                   <img src="/images/come_visit_map-removebg-preview.png" alt="coffe">
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="hero__content text-center">
                    <h2><span class="orange">Come Visit</span> <br>
                        <span class="pink">Find a Dunkin' Near You</span>
                    </h2>
                         <p class="pink">Closest Dunkin'</p>
                         <p class="pink"><strong>4020 s Campbell Ave</strong></p>
                         <p>Springfield, MO 65807</p>
                         <p><strong>Today: 5:30 - 8:00pm</strong></p>
                      <div class="hero__button">
                        <a href="#" class="hero__egift" role="button">View All Locations</a>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="phone">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="phone__content text-center">
                    <h2>
                        <span class="orange">Dunkin'</span><br>
                         <span class="pink">Done Easy</span>
                    </h2>
                    <p>
                        Find a store, place your order <br> and get on your way with the <br> Dunkin' App.
                    </p>
                    <ul class="phone__list">
                        <li class="phone__item"><a href="#" class="phone__link">Order ahead and pay from your phone</a></li>
                        <li class="phone__item"><a href="#" class="phone__link">Join DD Perk and earn points towards free beverages</a></li>
                        <li class="phone__item"><a href="#" class="phone__link">Earn exclusive offers and rewards</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-12">
               <div class="phone__content">
                   <img src="/images/dunkin done easy phone.png" alt="phone">
               </div>
            </div>
        </div>
    </div>
</section>
<%- include('partials/footer') %>