<%- include('partials/successHeader') %>
<section class="congrats">
    <div class="container">
        <div class="congrats__content text-center">
           <h2>Congratulation your information was sent successfully to Us! We will send you our NewsLetter.
          Thank you, and have great day!</h2>
          <div class="row">
              <div class="col-lg-12 col-12">
                  <img src="/images/successbg.jpg" alt="successfully">
              </div>
          </div>
        </div>
    </div>
</section>
<%- include('partials/footer') %>